img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("./img/showcase.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}
.landing a {
  color: #fff;
}
a.login {
  color: black;
}
.landing-text {
  margin-top: 10%;
}
.custom-nav {
  background-color: black;
  opacity: 0.9;
  z-index: 99;
}
.custom-nav a {
  color: #fff;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.btn {
  border-radius: 0% !important;
}
.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

footer {
  height: 50px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 110%;
  display: none;
}

.comment {
  width: 50%;
  /*margin-left: 50%;*/
  border-radius: 72px;
}
